.mainlist {
  list-style: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list {
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 5px;
  border: 2px solid black;
}
