* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(left, #e2f3ec, #6c7474);
  background: linear-gradient(to right, #919493, #657374);
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
